* 
{
    margin:0;
    padding:0
}
body
{
    margin: 0;
    padding: 0   
}
body div
{
    margin: 0 auto;
    padding: 0;
    width: 60%
}
.firstRow
{ 
    min-width: 220px;
    line-height: 50px
}
.label
{ margin: 0 5% }
.btnCalendario
{    
    margin-top: -5px;
    position: absolute;
    z-index: 10
}
.repiter
{
    background-color: #A1A1A1;  
}
.repiter tr td
{
    padding: 5px
}